<div class="container">
  <div class="content">
    <div class="create-post">
      <div class="create-post-up">
        <div style="display: flex; gap: 10px; width: 100%">
          <div class="avatar-user">
            <img
              *ngIf="avatarUser !== null"
              width="100%"
              height="100%"
              [src]="configUrl + '/' + avatarUser"
              alt=""
            />
            <img
              *ngIf="avatarUser === null"
              width="100%"
              height="100%"
              src="https://i.stack.imgur.com/l60Hf.png"
              alt=""
            />
          </div>
          <div
            class="add-post"
            (click)="OpenDialogCreateEditPost(false, datas)"
          >
            <span>Bạn đang nghĩ gì thế?</span>
          </div>
        </div>
      </div>
    </div>
    <div *ngFor="let data of datas" class="posts">
      <div class="content-posts">
        <div class="header-post">
          <div class="header-post-user">
            <div class="av-user" (click)="openProfile(data.user.id)">
              <img
                *ngIf="data.user.avatar !== null"
                width="100%"
                height="100%"
                [src]="configUrl + '/' + data.user.avatar"
                alt=""
              />
              <img
                *ngIf="data.user.avatar === null"
                width="100%"
                height="100%"
                src="https://i.stack.imgur.com/l60Hf.png"
                alt=""
              />
            </div>
            <div class="title">
              <span>{{ data.user.name }}</span>
              <div class="time">{{ timeAgo(data.updated_at) }}</div>
            </div>
          </div>
          <div *ngIf="isPostOwner(data.user_id)">
            <mat-icon [matMenuTriggerFor]="menu">more_horiz</mat-icon>
            <mat-menu #menu="matMenu">
              <button
                mat-menu-item
                (click)="OpenDialogCreateEditPost(true, data)"
              >
                <mat-icon style="color: #9d9d9d">edit</mat-icon>
                Chỉnh sửa bài viết
              </button>
              <button
                mat-menu-item
                (click)="OpenDialogConfirm(data.id, data.user_id)"
              >
                <mat-icon style="color: #9d9d9d">delete</mat-icon>
                Xóa bài viết
              </button>
            </mat-menu>
          </div>
        </div>
        <div class="content-new">
          <p style="white-space: pre-line">{{ data.content }}</p>
          <div *ngIf="data.images && data.images.length > 1" class="img-post">
            <ngx-slick-carousel
              class="carousel"
              #slickModal="slick-carousel"
              [config]="slideConfig"
            >
              <div ngxSlickItem *ngFor="let image of data.images">
                <img
                  width="100%"
                  height="100%"
                  [src]="configUrl + '/images/' + image.image_url"
                  alt=""
                />
              </div>
            </ngx-slick-carousel>
          </div>
          <div *ngIf="data.images && data.images.length === 1" class="img-post">
            <img
              width="100%"
              height="100%"
              [src]="configUrl + '/images/' + data.images[0].image_url"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="articles-posts">
        <div>
          <div class="articles-posts-up">
            <span> {{ getLikedCount(data.likes) }} lượt thích </span>
            <div style="display: flex; gap: 10px">
              <span>{{ data.comments.length }} lượt bình luận</span>
              <span>40k lượt chia sẻ</span>
            </div>
          </div>
          <div class="articles-posts-down">
            <div class="article" (click)="toggleLike(data.id)">
              <mat-icon [style.color]="getLikeColor(data)"> favorite </mat-icon>
              <span [style.color]="getLikeColor(data)"> Thích </span>
            </div>
            <div
              class="article"
              (click)="
                openDialogComment(data.user.name, data.user.avatar, data.images, data.id, data.updated_at)
              "
            >
              <mat-icon>comment</mat-icon>
              <span>Bình luận</span>
            </div>
            <div class="article">
              <mat-icon>share</mat-icon>
              <span>Chia sẻ</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
