<div class="friends">
  <div class="friends-content">
    <div class="friends-content-head">
      <h2>Bạn bè</h2>
      <p>Xem tất cả bạn bè</p>
    </div>
    <p class="count-friend">{{ friendList.length }} bạn bè</p>
  </div>

  <div class="friends-body">
    <div class="friend" *ngFor="let item of friendList">
      <div class="friend-image" (click)="openProfile(item.id)">
        <img [src]="configUrl + '/' + item.avatar" alt="" />
      </div>
      <p class="friend-name">{{ item.name }}</p>
    </div>
  </div>
</div>
