<div class="friends">
  <div class="friends-content">
    <div class="friends-content-head">
      <h2>Bạn bè của bạn</h2>
    </div>
    <p class="count-friend">{{ friendList.length }} bạn bè</p>
  </div>

  <div class="friends-body">
    <div class="friend" *ngFor="let item of friendList">
      <div class="friend-image" (click)="openProfile(item.id)">
        <img
          *ngIf="!item.avatar"
          src="https://i.stack.imgur.com/l60Hf.png"
          alt=""
        />
        <img 
          *ngIf="item.avatar" 
          [src]="configUrl + '/' + item.avatar" 
          alt="" 
        />
      </div>
      <p class="friend-name">{{ item.name }}</p>
    </div>
  </div>
</div>
