<div class="main">
    <div class="main_left">
        <div class="main_left-title">Giới thiệu</div>
        <div class="main_left-menu">

            <div class="left" *ngFor="let tab of tabs">
                <div class="left-sub" [ngClass]="{'active': tab.active}">
                    <p>{{tab.title}}</p>
                </div>
            </div>

        </div>
    </div>
    <div class="main_right">
        <div class="right">
            <div class="right-item" *ngFor="let overview of overviews">
                <ng-container *ngIf="overview.data; then data else default"></ng-container>
                <ng-template #data>
                    <mat-icon class="data-icon">{{ overview.icon }}</mat-icon>
                    <div class="data-text">{{ overview.data }}</div>
                </ng-template>
                <ng-template #default>
                    <div class="right-item-icon" *ngIf="userIdFromStorage === userId">+</div>
                    <div class="right-item-text" *ngIf="userIdFromStorage === userId">{{overview.title}}</div>
                </ng-template>
            </div>
        </div>
    </div>
</div>
