<div class="introduce">
    <div class="introduce_content">
        <h2>Giới thiệu</h2>

        <div class="introduce-btn">
            <div class="main-btn pointer">
                <p>Thêm tiểu sử</p>
            </div>
        </div>
        <div class="introduce-btn">
            <div class="participation-time">
                <!-- icon -->
                <p>Tham gia vào Tháng 4 năm 2016</p>
            </div>
            <div class="main-btn pointer">
                <p>Chỉnh sửa chi tiết</p>
            </div>
        </div>
        <div class="introduce-btn">
            <div class="main-btn pointer">
                <p>Thêm sở thích</p>
            </div>
        </div>
        <div class="introduce-btn">
            <div class="main-btn pointer">
                <p>Thêm nội dung đáng chú ý</p>
            </div>
        </div>
    </div>
</div>