h2,
p {
  margin-bottom: unset !important;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.introduce {
  background: #242526;
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 25px;
}
.introduce_content {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.introduce_content h2 {
  color: #e3e5ea;
}

.main-btn {
  height: 36px;
  background: #3a3b3c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.main-btn p {
  font-size: 15px;
  color: #dddfe4;
}

.participation-time {
  margin-bottom: 8px;
  color: var(--while);
}

.tieu-su-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
}

.btn-sub {
  width: 51px;
  height: 36px;
  border-radius: 8px;
  text-align: center;
  line-height: 36px;
  outline: none;
  border: none;
  cursor: pointer;
  background: #3a3b3c;
  color: #e3e5ea;
  font-weight: 600;
}
.add-tieu-su {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.count-text {
  color: #e3e5ea;
  font-size: 13px;
  text-align: right;
}

.add-tieu-su-input textarea {
  width: 100%;
  height: 76px;
  padding: 4px;
  color: #e3e5ea;
  text-align: center;
  border-radius: 8px;
  background: #3a3b3c;
  font-size: 16px;
}

.tieu-su-btn .btn_active {
  background: var(--main-color);
  color: #e3e5ea;
}

.tieu-su-btn .btn_disabled {
  background: #505151;
  color: #787979;
}

.bio{
  width: 100%;
  text-align: center;
}

.bio p {
  color: #e3e5ea;
  font-size: 16px;
}

.introduce_detail{
  display: flex;
  gap: 5px;
}

.introduce_detail mat-icon{
  color: #e3e5ea;
  font-size: 23px;
}

.introduce_detail p{
  color: #e3e5ea;
  font-size: 16px;
}

.introduce_d{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 18px;
}