<div class="introduce">
  <div class="introduce_content">
    <h2>Giới thiệu</h2>
    <ng-container
      *ngIf="isBio; then showBio; else hideBio"
    ></ng-container>

    <ng-template #hideBio>
      <div class="bio" *ngIf="bio">
        <p>{{ bio }}</p>
      </div>
      <div class="introduce-btn" *ngIf="userIdFromStorage === userId">
        <div class="main-btn pointer" (click)="handleBio()">
          <p *ngIf="!bio">Thêm tiểu sử</p>
          <p *ngIf="bio">Chỉnh sửa tiểu sử</p>
        </div>
      </div>
    </ng-template>
    <ng-template #showBio>
      <div class="add-tieu-su">
        <form action="" [formGroup]="bioForm">
          <div class="add-tieu-su-input">
            <textarea
              formControlName="bio"
              id=""
              cols="30"
              rows="10"
              [(ngModel)]="bio"
              (input)="onTextareaChange()"
            ></textarea>
          </div>
          <div class="tieu-su-btn">
            <button class="btn-sub" (click)="handleBio()">Hủy</button>
            <button
              class="btn-sub btn_disabled"
              (click)="saveBio()"
              [class.btn_disabled]="!isButtonActive"
              [class.btn_active]="isButtonActive"
            >
              Lưu
            </button>
          </div>
        </form>
      </div>
    </ng-template>
    <div>
      <div class="introduce_d">
        <div class="introduce_detail">
          <mat-icon>location_on</mat-icon>
          <p>Hiện đang sống tại: {{ address }}</p>
        </div>
        <div class="introduce_detail">
          <mat-icon>ads_click</mat-icon>
          <p>Website: {{ website }}</p>
        </div>
        <div class="introduce_detail">
          <mat-icon>apartment</mat-icon>
          <p>Hiện đang làm việc tại: {{ workplace }}</p>
        </div>
        <div class="introduce_detail">
          <mat-icon>school</mat-icon>
          <p>Hiện đang học tại: {{ education }}</p>
        </div>
      </div>
      <div
        class="introduce-btn"
        *ngIf="userIdFromStorage === userId"
        (click)="openEditProfile()"
      >
        <div class="main-btn pointer">
          <p>Chỉnh sửa chi tiết</p>
        </div>
      </div>
    </div>    
    <div class="introduce-btn" *ngIf="userIdFromStorage === userId">
      <div class="main-btn pointer">
        <p>Thêm sở thích</p>
      </div>
    </div>
    <div class="introduce-btn" *ngIf="userIdFromStorage === userId">
      <div class="main-btn pointer">
        <p>Thêm nội dung đáng chú ý</p>
      </div>
    </div>
  </div>
</div>
