<div class="notifications">
    <h2>Thông báo</h2>
    <div class="notifications_sub">
        <div class="notifications-head">
            <p>Trước đó</p>
            <p>Xem tất cả</p>
        </div>
        <div class="notifications-body pointer" *ngFor="let item of list">
            <div class="notifications-body-img">
                <img src="https://1.bp.blogspot.com/-tR3yiX3M1kU/UidDWhWnA_I/AAAAAAAADCc/JMHEct-vOEA/s1600/anh-dep-lam-hinh-nen-may-tinh-3.jpg" alt="">
            </div>
            <div class="notifications-body-content">
                <div class="notifications-body-content-text">
                    <span class="weight500">Quang duy, duy Quang</span>
                    và
                    <span class="weight500">Quang duy</span>
                    đã đăng trong
                    <span class="weight500">Cái đéo gì thế</span>
                </div>
                <div class="days-ago">5 ngày trước</div>
            </div>
        </div>
    </div>
</div>