<div class="image">
    <h1>Ảnh và Video</h1>
    <div class="image-tab">
        <mat-tab-group>
            <mat-tab label="Ảnh của bạn">
                <div class="item">
                    <div class="item-img" *ngFor="let item of images">
                        <img [src]="configUrl + '/images/' + item.image_url" alt="">
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Video của bạn">
                <div class="item">
                    <div class="item-img" *ngFor="let item of images">
                        <img [src]="configUrl + '/images/' + item.image_url" alt="">
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
