<div class="container">
  <div class="content">
    <div class="header-left">
      <div class="icon-header" (click)="goBackHome()">
        <mat-icon>tsunami</mat-icon>
      </div>
      <div>
        <input class="search" type="search" placeholder="Search" />
      </div>
    </div>
    <div class="header-right">
      <div class="icon">
        <mat-icon>apps</mat-icon>
      </div>
      <div class="icon">
        <mat-icon style="color: rgb(212, 4, 195)">forum</mat-icon>
      </div>
      <div class="icon" (click)="showNotifi()" [matMenuTriggerFor]="menu">
        <mat-icon>notifications</mat-icon>
      </div>
        <mat-menu #menu="matMenu">
          <app-notifications></app-notifications>
        </mat-menu>

      <div class="avatar-user" [matMenuTriggerFor]="menu">
        <img
          width="100%"
          height="100%"
          [src]="configUrl + '/' + avatarUser"
          alt=""
        />
      </div>
      <mat-menu #menu="matMenu">
        <button class="logOut" mat-menu-item (click)="LogOut()">
          <mat-icon>logout</mat-icon>
          Đăng Xuất
        </button>
      </mat-menu>
    </div>
  </div>
</div>
