<div class="container">
  <div class="content">
    <div class="header-left">
      <div class="icon-header" (click)="goBackHome()">
        <mat-icon>tsunami</mat-icon>
      </div>
      <div>
        <form [formGroup]="searchForm">
          <div>
            <input
              formControlName="searchTerm"
              [matMenuTriggerFor]="menu"
              (input)="onSearch()"
              class="search"
              placeholder="Search"
            />
          </div>
        </form>
        <mat-menu #menu="matMenu">
          <div *ngIf="searchData.length > 0">
            <div *ngFor="let item of searchData">
              <div class="item" (click)="openProfile(item.id)">
                <div class="item-image">
                  <img
                    *ngIf="item.avatar === null"
                    src="https://i.stack.imgur.com/l60Hf.png"
                    alt=""
                  />
                  <img
                    *ngIf="item.avatar !== null"
                    [src]="configUrl + '/' + item.avatar"
                    alt=""
                  />
                </div>
                <div class="item-name">{{ item.name }}</div>
              </div>
            </div>
          </div>
          <div
            *ngIf="searchData.length <= 0"
            style="color: white; text-align: center"
          >
            Không có dữ liệu
          </div>
        </mat-menu>
      </div>
    </div>
    <div class="header-right">
      <div class="icon">
        <mat-icon>apps</mat-icon>
      </div>
      <div class="icon">
        <mat-icon style="color: rgb(212, 4, 195)">forum</mat-icon>
      </div>
      <div
        class="icon"
        (click)="showNotifi()"
        [matMenuTriggerFor]="notification"
      >
        <mat-icon>notifications</mat-icon>
      </div>
      <mat-menu #notification="matMenu">
        <app-notifications></app-notifications>
      </mat-menu>

      <div class="avatar-user" [matMenuTriggerFor]="logout">
        <img
          *ngIf="avatarUser !== null"
          width="100%"
          height="100%"
          [src]="configUrl + '/' + avatarUser"
          alt=""
        />
        <img
          *ngIf="avatarUser === null"
          width="100%"
          height="100%"
          src="https://i.stack.imgur.com/l60Hf.png"
          alt=""
        />
      </div>
      <mat-menu #logout="matMenu">
        <button class="logOut" mat-menu-item (click)="LogOut()">
          <mat-icon>logout</mat-icon>
          Đăng Xuất
        </button>
      </mat-menu>
    </div>
  </div>
</div>
